
        <%- include('./partials/header') %>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Choose type of Input
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./processors/fileprocesser.ejs">File Input</a></li>
              <li><a class="dropdown-item" href="./processors/drawprocessor.ejs">Draw with cursor</a></li>
              <li><a class="dropdown-item" href="./processors/writeprocessor.ejs">Write nodes and edges</a></li>
            </ul>
          </div>
        
            <%- include('./partials/footer') %>